{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 5%">
      <h1>Partners Login</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button style="float: right" class="btn green" type="submit btn-cta ">{% trans "Iniciar Sesión" %}</button>
      </form>
    </div>
  </div>
</div>




{% endblock %}
