{% load static %}
{% load staticfiles%}

<div class="row" style="
    margin: 30px;
    padding: 20px;
    color: white;
    background-color: #93c47d;
    position: sticky;
">
  <div class="col-md-4">
    <span>Zanahorias</span>
    <span>Potatoes</span>
  </div>
  <div class="col-md-4">
    <span>5 bolsas</span>
    <span>4 bolsas</span>
  </div>
  <div class="col-md-4">
    <span>0.30 €</span>
    <span>0.55 €</span>
  </div>
  <div class="col-md-12" style="
            border-top: white solid 1px;margin-top: 5px;
            margin-top: 10px;
            padding-top: 5px;
            padding-right: 20px;">
      <span>
        TOTAL
      </span>
      <span style="float: right;">
        4.6€
      </span>
  </div>
</div>
