{% extends "base.html" %}
{% load static %}
{% load staticfiles %}



{% block content %}

<div class="container c-address">
  <div class="row">
    <div class="col-md-12">
      <div style="margin: auto;
                  display: inline-block;
                  text-align: right;">
        <img style="vertical-align: bottom;
                    height: 99px;
                    padding-top: 15px;" src="{% static 'img/store.png' %}"  style="height: 100px;"/>
      </div>
      <div style="display: inline-block">
        <h2 class="h22">{{customer.name}}</h2>
        <p class="p22">{{customer.address}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid heading-2">
  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="col-md-12">
        <span class="store-green">Supermercados cerca de ti</span>
      </div>
    </div>
  </div>
</div>

{% include "map.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% include "product_col.html"%}
    </div>
    <div class="col-md-6">
      {% include "totals.html"%}
    </div>
  </div>
</div>

<style>

.input-group-addon:not(:last-child){
  background-color: white;
}

</style>


{% endblock content %}
