<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="https://medium.com/@bootply/bootstrap-4-whats-new-visual-guide-c84dd81d8387" target="ext">Productos</a></li>
                    <li><a href="http://codeply.com/tagged/bootstrap-4" target="ext"></a></li>
                    <li><a href="http://getbootstrap.com" target="ext">Partners Program/a></li>
                    <li><a href="http://www.codeply.com/go/p/bootstrap_4.0.alpha" target="ext">Sobre Nosotros</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 column">
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Marco Legal</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 column">
              <ul class="list-unstyled">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Marco Legal</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-3 text-right">
              <ul class="list-unstyled">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Marco Legal</a></li>
              </ul>
            </div>
        </div>
        <br>
        <span class="float-right text-muted small"><a href="http://bootstrap4.guide">Made with love in Madrid 2017</span>
    </div>
</footer>
